.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
#show-btn {
  position: absolute;
  right: 4%;
  margin-bottom: 20%;
  padding: 5px 10px;
}
.container {
  box-shadow: rgba(0, 0, 0, 0, 35) 0px 5px 15px;
  border-radius: 20px;
  padding: 30px;
  opacity: 0;
}
#crud-title {
  color: green;
  font-size: 40px;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.box-shadow {
  border: 3px black solid;
  height: auto;
  width: 80%;
  box-shadow: offsetX offsetY blurRadius spreadRadius color;
}
