.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
#show-btn {
  margin-top: 30px;
  margin-left: 79%;
  margin-bottom: -20px;
  padding: 5px 10px;
}
.container {
  box-shadow: rgba(0, 0, 0, 0, 35) 0px 5px 15px;
  border-radius: 20px;
  padding: 30px;
  opacity: 0;
}
#crud-title {
  color: green;
  font-size: 50px;
  font-weight: 800;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.box-shadow {
  border: 3px black solid;
  height: auto;
  width: 80%;
  box-shadow: offsetX offsetY blurRadius spreadRadius color;
}
#show-button {
  cursor: pointer;
  width: 120px;
}
/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

table {
  width: 100%;
  overflow-x: auto;
}
@media (max-width: 768px) {
  #container {
    width: 95%;
    padding: 20px;
  }

  .form-row {
    display: flex;
    flex-direction: column;
  }

  .form-group {
    width: 100%;
    margin-bottom: 10px;
  }

  table {
    font-size: 12px;
  }

  thead {
    display: none;
  }

  tbody tr {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
  }

  tbody td {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
  }

  tbody td::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
  }
}
@media (max-width: 576px) {
  #show-btn {
    text-align: center;
  }

  #show-button {
    width: 100%;
  }

  #crud-title {
    font-size: 33px;
  }
  #employees-form {
    margin-top: -35px;
  }
  .btn {
    font-size: 14px;
    padding: 10px;
  }
}
